<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main frame</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .jumbotron {
            margin-bottom: 0;
        }

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
    <script>
        function calculate() {
            var myBox1 = document.getElementById('Price').value;
            var myBox2 = document.getElementById('Quantity').value;
            var result = document.getElementById('result');
            var myResult = myBox1 * myBox2;
            result.value = myResult;
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>

<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Online Store</h1>
            <p>Mission, Vission & Values</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
    <% product.forEach(function(product){ %>
    <div class = "col-md-4">
        <div class="card" style="width: 18rem; margin:50px">
            <img class="card-img-top img-thumbnail" src="<%= product.image %>">
            <div class="card-body">
                <h3 class="card-title">
                    <%= product.name %>
                </h3>
                <p class="card-text">
                    <%= product.Description %>
                </p>
                <p class="card-text">Refreshing</p>
                <p class="card-text">
                    <%= product.price %> INR per liter</p>
                <a href="/product/<%= product._id %>" class="btn btn-primary">BUY</a>
            </div>
        </div>
        </div>
        <% }); %>
             
        </div>
    </div>
            <br>
            <br>
            <footer class="container-fluid text-center">
                <p>Online Store Copyright</p>
                <form class="form-inline">Get deals:
                    <input type="email" class="form-control" size="50" placeholder="Email Address">
                    <button type="button" class="btn btn-danger">Sign Up</button>
                </form>
            </footer>
            </form>
</body>

</html>