 <!DOCTYPE html>
<html lang="en">

<head>
    <title>Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
 <div class="jumbotron text-center">
        <h4>Order Summary</h4>
    </div>

 <div class="container text-center">
    CompanyName :<h2><%= order.companyName %></h5>
    CompanyPincode:<h5><%= order.pincode %></h6>
    <!--<h3 class="card-subtitle mb-2 text-muted"><%= order.price %>></h6>-->
    QuantityOrdered:<h4><%= order.quantity %></h6>
    TotalValue<h6><%= order.totalprice %></h6>
    
     <h2>Confirmed</h2>
   
   
   
   
   <form action = "/confirm/<%= order._id %>" method = "POST">
    <button>Cancel</button>
   </form>
 </div>
 


</body>

</html>